In [20]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook
import seaborn as sns
plt.style.use('fivethirtyeight')

In [21]:
train_df = pd.read_csv('Data/yelp_review_polarity_csv/train.csv', header=None)
train_df.shape

(560000, 2)

In [22]:
train_df.head()

   0                                                  1
0  1  Unfortunately, the frustration of being Dr. Go...
1  2  Been going to Dr. Goldberg for over 10 years. ...
2  1  I don't know what Dr. Goldberg was like before...
3  1  I'm writing this review to give you a heads up...
4  2  All the food is great here. But the best thing...

In [23]:
test_df = pd.read_csv('Data/yelp_review_polarity_csv/test.csv', header=None)
test_df.shape

(38000, 2)

In [24]:
train_df['Label'] = train_df[0].apply(lambda x:int(x==2))

In [25]:
train_df = pd.DataFrame({'id':train_df.index.values, 'label':train_df['Label'],
                        'alpha':['a']*train_df.shape[0], 'text':train_df[1].replace(r'\n',' ', regex=True) })
train_df.head

<bound method NDFrame.head of             id  label alpha                                               text
0            0      0     a  Unfortunately, the frustration of being Dr. Go...
1            1      1     a  Been going to Dr. Goldberg for over 10 years. ...
2            2      0     a  I don't know what Dr. Goldberg was like before...
3            3      0     a  I'm writing this review to give you a heads up...
4            4      1     a  All the food is great here. But the best thing...
5            5      0     a  Wing sauce is like water. Pretty much a lot of...
6            6      0     a  Owning a driving range inside the city limits ...
7            7      0     a  This place is absolute garbage...  Half of the...
8            8      1     a  Before I finally made it over to this range I ...
9            9      1     a  I drove by yesterday to get a sneak peak.  It ...
10          10      0     a  After waiting for almost 30 minutes to trade i...
11          11      1     a  Wonderful reuben.  Map shown on Yelp page is i...
12          12      1     a  After a morning of Thrift Store hunting, a fri...
13          13      1     a  This is a hidden gem, no really. It took us fo...
14          14      1     a  Awesome drink specials during happy hour. Fant...
15          15      0     a  Very disappointed in the customer service. We ...
16          16      0     a  Used to go there for tires, brakes, etc.  Thei...
17          17      0     a  I got 'new' tires from them and within two wee...
18          18      0     a  Terrible. Preordered my tires and when I arriv...
19          19      1     a  I've been informed by a fellow Yelper that the...
20          20      0     a  Don't waste your time.  We had two different p...
21          21      0     a  I will start by saying we have a nice new deck...
22          22      0     a                                            Hoofah.
23          23      0     a  Average run of the mill store.  Associates are...
24          24      0     a  Two meals, on the recommendation of a friend w...
25          25      1     a  If you are searching for a go to fish place fo...
26          26      1     a  Italian dinners, American, endless soup and sa...
27          27      1     a  Good Luck getting a seat, that's all I have to...
28          28      1     a  The biggest breakfast in Pittsburgh, as far as...
29          29      1     a  Cheap, unpretentious, and, for this, one of my...
...        ...    ...   ...                                                ...
559970  559970      1     a  Hard choosing a place to eat when you're on th...
559971  559971      1     a  Woooo!!!! Love this place!!! Missed ir soooo m...
559972  559972      0     a  Don't go here.  I know you might want to try i...
559973  559973      0     a  I had high hopes for this place. When I learne...
559974  559974      0     a  Went to checkers on a friends recommendation t...
559975  559975      1     a  The food at this place is amazing. My favorite...
559976  559976      1     a  Love this place! The portions are generous but...
559977  559977      1     a  My wife and I live in the area and are pleasan...
559978  559978      0     a  Went for dinner with friends tonight. The plac...
559979  559979      1     a  Great ambiance, absolutely love the decor, ver...
559980  559980      1     a  Red Rice serves the best chicken kelaguen!  \n...
559981  559981      1     a  As a person who have lots of Chamorro friends,...
559982  559982      0     a  Buffet was recently open after renovation so m...
559983  559983      0     a  Having moved 15 times and having been referred...
559984  559984      1     a  We had the best experience. The movers were su...
559985  559985      0     a  A man came to the house to estimate. He gave m...
559986  559986      1     a  Scottsdale Beer Company has only been open 2 d...
559987  559987      1     a  Just found my new favorite hang out. This plac...
559988  559988      0     a  Really disappointing. Either the place was hav...
559989  559989      1     a  When Corey sent the email about tickets being ...
559990  559990      0     a  Wow, really?  Bought one item from them, a ham...
559991  559991      1     a  We tried the Cheese Danish w lemon. Creamy, fl...
559992  559992      0     a  Long line, inefficient staff. Maybe my expecta...
559993  559993      0     a  First: Please note that many people are review...
559994  559994      0     a  I'm shocked everyone time I go to a Bouchon Ba...
559995  559995      1     a  Ryan was as good as everyone on yelp has claim...
559996  559996      1     a  Professional \nFriendly\nOn time AND affordabl...
559997  559997      0     a  Phone calls always go to voicemail and message...
559998  559998      0     a  Looks like all of the good reviews have gone t...
559999  559999      1     a  Ryan Rocks! I called him this morning for some...

[560000 rows x 4 columns]>

In [26]:
test_df = pd.DataFrame({'id':test_df.index.values, 'label':test_df[0].apply(lambda x:int(x==2)),
                        'alpha':['a']*test_df.shape[0], 'text':test_df[1].replace(r'\n',' ', regex=True) })
test_df.head()

   id  label alpha                                               text
0   0      1     a  Contrary to other reviews, I have zero complai...
1   1      0     a  Last summer I had an appointment to get new ti...
2   2      1     a  Friendly staff, same starbucks fair you get an...
3   3      0     a  The food is good. Unfortunately the service is...
4   4      1     a  Even when we didn't have a car Filene's Baseme...